<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
		body {
			margin: 0;
			padding: 0;
		}
	</style>
	<script src="public/javascripts/jquery-1.11.1.min.js"></script>
	<script src="public/javascripts/sugar.min.js"></script>
	<script src="public/javascripts/pixi.dev.js"></script>
	<script src="public/javascripts/keyboard.js"></script>
	<script src="public/javascripts/app.js"></script>
</head>
<body>
<script type="text/javascript">
	var socket = new WebSocket('@@{Comms.stream()}');
	var joinUrl = '@@{Application.join()}';
</script>
<canvas style="height:500px;width:500px;" id="canvas"></canvas>
<div id="lastMessage"></div>
<div id="preJoinUi">
	<form id="loginForm">
		<label for="userName">Name: </label><input name="userName" id="userName" type="text"><button id="joinButton">Join</button>
	</form>
</div>
<div id="joinedUi" style="display:none;">
	<form id="textForm">
		<input id="textin" type="text" style="width:300px"/>
		<button id="gobutton">Go</button>
	</form>
</div>
<div id="thread"></div>

</body>
</html>